check_points/
wandb/

**/__pycache__/
__pycache__/

debug_images/
debug_attn_maps/
nvsdiff-attn-distill/
outputs/
demo/
outputs_unet_attn/
outputs_vggt/

validation_metrics_correlation_wandb_per_metric/
*.png
outputs_comparison/